
<h1>Registrar Nuevo Estudiante</h1>
<form  method="POST" action="registrar">

     <label>Ingrese Nombre</label>
   <input type="text" name="nombre"><br><br>
   <label>Ingrese Cedula</label>
   <input type="number" name="cedula"><br><br>
   <label>Ingrese Correo</label>
   <input type="email" name="correo"><br><br>
   <input type="submit" value="Registrar" >
   

</form>



